
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>EXPERIENCE NANNING</title>
  
</head>
<body>
  <div class="navbar"><a href="/" <%- title === 'Home' ? 'class="active"' : '' %>>HOME</a>
    <% if (user) { %>
        <a href="/things/new" <%- title === 'Add Activity' ? 'class="active"' : '' %>>ADD ACTIVITY</a>
        <a href="/logout">LOG OUT</a>
        <% } else { %>
          <a href="/auth/google" class="login">LOG IN</a>
        <% } %></div>
        <br>
    <h1 class="title">EXPERIENCE NANNING</h1>
    
  <div class="thumbnail">
        <% things.forEach(function(t) { %>
       <div class="object"> 
        <a href="/things/<%= t._id %>"><img width="500px" height="333px" src="<%= t.image %>"></a>
        <a href="/things/<%= t._id %>" class="namelink"><%= t.name %></a></div>
              <% }); %>
              <br>
            </div>
</body>
</html>